.footer{
    background-color: #edc048;
    width: 100%;
    height: 20vh;
    display: grid;
}

.footer__container{
    flex: 1;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

.footer_label{
    font-family: Work Sans;
    color: #403930;
    background-color: #FFF2C5;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.footer_links{
    display: flex;
    justify-self: center;
}
.footer_links a{
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer_links a img{
    filter: invert(100%) sepia(20%) saturate(6364%) hue-rotate(299deg) brightness(114%) contrast(110%);
}

@media (max-width: 768px) {
    .footer{
        height: 20vh;
    }
    .footer__container{
        width: 100%;
        height: 98px;
    }
    .footer_label{
        font-size: 1rem;
        width: 175px;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .footer_links{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_links a img{
        height: 6vh;
        width:6vh;
    }
}

@media (min-width: 769px) {
    .footer{
        height: 15vh;
    }
    .footer__container{
        max-width: 769px;
        height: 11vh;
    }
    .footer_label{
        font-size: 1rem;
        width: 80%;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }
    .footer_links{
        width: 70%;
        gap: 1rem;
    }
    .footer_links a img{
        height: 6vh;
        width:6vh;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    .footer{
        height: 15vh;
    }
    .footer__container{
        width: 100%;
        height: 98px;
    }
    .footer_label{
        font-size: 1rem;
        width: 175px;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .footer_links{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_links a img{
        height: 6vh;
        width:6vh;
    }
}